{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>Nueva Contraseña</h2>

    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label>Nueva Contraseña</label>
                {{ form.new_password1 }}
                <small class="form-text text-muted">
                    Mínimo 8 caracteres, 1 mayúscula, 1 caracter especial y 1 número.
                </small>
            </div>
            <div class="form-group">
                <label>Confirmar Contraseña</label>
                {{ form.new_password2 }}
            </div>
            <!-- Campos ocultos (uidb64, token) -->
            {{ form.uid }}
            {{ form.token }}

            <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        </form>
    {% else %}
        <div class="alert alert-warning">
            <h4>Enlace no válido</h4>
            <p>Este enlace ha expirado o ya fue usado.</p>
            <a href="{% url 'password_reset' %}" class="btn btn-outline-primary">Solicitar nuevo enlace</a>
        </div>
    {% endif %}
</div>
<style>
    .container {
        margin-top: 30px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h2{
        text-align: center;
        color: #00c0ff;
        margin-bottom: 20px;
    }

    .btn-primary{
        background-color: #00c0ff;
        border-color: #00c0ff;
        color: white;
        border-radius: 8px;
        margin-top: 30px;
        width: 40%;
        padding: 10px;
        cursor: pointer;
        transition: transform 0.2s;
        text-decoration: none;
        text-align: center;
        display: inline-block;
    }


    .btn-primary:hover{
        background: #f9f9f9;
        color:#00c0ff;
        border: 2px solid #00c0ff;
        text-decoration: none;
    }
    .form-group {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    color: #495057;
    }
</style>
{% endblock %}